body {
    display: flex;
    flex-direction: column; /* Ajustamos el cuerpo para ser una columna */
    align-items: center; /* Centramos horizontalmente */
    background-color: beige;
}

center {
    background-color: #333A73;
    width: 100%;
    color:white;
}

center p {
    color: white; /* Cambia a tu color preferido */
}


#container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px; /* Añadimos un margen superior */
}

#menu {
    width: 45%; /* Ajustamos el ancho del menú */
}

#display {
    margin-left: 420px;
    margin-top: 20px;
    width: 45%; /* Ajustamos el ancho de display */
}

select {
    margin-left: 100px;
    margin-top: 20px; /* Ajustamos el margen superior */
    font-size: 1.5em;
}


.container {
    display: flex;
    justify-content: space-between;
}

.menu {
    flex: 1;
    position: absolute;
    margin-left: 200px;
}

.display {
    margin-top: 60px;
    width: 500px;
}

select {
    margin-left: 30px;
    margin-top: 60px;
    font-size: 2em;
}

.input-box {
    margin-left: 30px;
    background-color: #A5DD9B;
    width: 300px;
    height: 250px;
    border: 1px solid black;
    padding: 20px;
}

.calculate-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px; 
    background-color: #333A73; 
    color: #fff; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
}

.calculate-button:hover {
    background-color: #6196A6; 
}